.rake_test_cache
.DS_Store

# Do not check in the .bundle directory, or any of the files inside it. Those files are specific to each particular machine, and are used to persist installation options between runs of the bundle install command.
.bundle

# Secret credential directories:
.aws/
.chef/
data_bags/users/miketheman.json

tmp/

# Ignoring sourced cookbooks:
# cookbooks/apache2
cookbooks/apt/
cookbooks/build-essential/
cookbooks/chef-client/
cookbooks/haproxy/
# cookbooks/munin/
cookbooks/ntp/
cookbooks/python/
cookbooks/sudo/
cookbooks/users/
cookbooks/yum/